# Trabalho de Análise de Dados

## Desenvolva  um trabalho de  análise  de  dados a  partir  de um conjunto de dados  de um domínio da sua escolha

### Bibliotecas

In [96]:
import numpy as np
import pandas as pd

### Base de dados: Dados Indicadores da Violência Contra Mulher - Lei Maria da Penha
#### Estado: Rio Grande do Sul
#### Anos: 2019 e 2020
#### Link: https://ssp.rs.gov.br/indicadores-da-violencia-contra-a-mulher

#### Dados gerais de 2019

In [201]:
carga_2019 = pd.read_excel('dataset/dataset-2019.xlsx', sheet_name="GERAL", skiprows=range(9), skipfooter=5, index = False)

In [202]:
geral_2019 = carga_2019.dropna(axis=1, how='all')
geral_2019.dropna(how='all')

,MÊS,AMEAÇA,LESÃO CORPORAL,ESTUPRO (*),FEMINICÍDIO CONSUMADO,FEMINICÍDIO TENTADO
0,2019-01-01 00:00:00,3765,2116,184,3,44
1,2019-02-01 00:00:00,3214,1820,132,1,23
2,2019-03-01 00:00:00,3457,1949,126,11,25
3,2019-04-01 00:00:00,3085,1719,107,6,37
4,2019-05-01 00:00:00,2893,1499,104,11,31
5,2019-06-01 00:00:00,2799,1589,133,9,23
6,2019-07-01 00:00:00,2739,1364,143,14,22
7,2019-08-01 00:00:00,3004,1460,156,8,27
8,2019-09-01 00:00:00,3031,1663,174,7,14
9,2019-10-01 00:00:00,3085,1723,166,9,41
10,2019-11-01 00:00:00,3075,1885,156,11,39
11,2019-12-01 00:00:00,3234,2202,133,7,33
12,Total,37381,20989,1714,97,359

In [203]:
geral_2019

,MÊS,AMEAÇA,LESÃO CORPORAL,ESTUPRO (*),FEMINICÍDIO CONSUMADO,FEMINICÍDIO TENTADO
0,2019-01-01 00:00:00,3765,2116,184,3,44
1,2019-02-01 00:00:00,3214,1820,132,1,23
2,2019-03-01 00:00:00,3457,1949,126,11,25
3,2019-04-01 00:00:00,3085,1719,107,6,37
4,2019-05-01 00:00:00,2893,1499,104,11,31
5,2019-06-01 00:00:00,2799,1589,133,9,23
6,2019-07-01 00:00:00,2739,1364,143,14,22
7,2019-08-01 00:00:00,3004,1460,156,8,27
8,2019-09-01 00:00:00,3031,1663,174,7,14
9,2019-10-01 00:00:00,3085,1723,166,9,41
10,2019-11-01 00:00:00,3075,1885,156,11,39
11,2019-12-01 00:00:00,3234,2202,133,7,33
12,Total,37381,20989,1714,97,359

#### Ameaças em 2019

In [221]:
carga_2019 = pd.read_excel('dataset/dataset-2019.xlsx', sheet_name="AMEAÇA", skiprows=range(6), skipfooter=4, index_col=None, header=None)

In [235]:
ameaca_2019 = carga_2019.dropna(axis=1, how='all')
ameaca_2019.dropna(how='all')
ameaca_2019 = ameaca_2019.drop([0,1,2,3,4,5])

In [242]:
ameaca_2019.rename(columns = {0:"Cidades", 1: "jan/19", 2: "fev/19", 3: "mar/19", 4: "abr/19", 5: "mai/19", 6: "jun/19", 7: "jul/19", 8: "ago/19", 9: "set/19", 10: "out/19", 11: "nov/19", 12: "dez/19", 13: "Total"})

,Cidades,jan/19,fev/19,mar/19,abr/19,mai/19,jun/19,jul/19,ago/19,set/19,out/19,nov/19,dez/19,Total
6,ACEGUA,0,0,0,1,1,0,0,0,0,1,1,0,4
7,AGUA SANTA,0,1,0,0,0,1,0,0,0,1,0,0,3
8,AGUDO,4,5,3,8,3,7,6,5,10,3,0,4,58
9,AJURICABA,1,2,2,3,4,3,0,1,0,1,1,1,19
10,ALECRIM,4,0,6,3,2,3,0,2,2,0,3,4,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,VITORIA DAS MISSOES,0,1,0,1,0,0,0,0,2,1,0,0,5
501,WESTFALIA,0,1,0,0,1,0,0,0,0,1,0,0,3
502,XANGRI-LA,5,3,7,6,4,1,6,4,5,11,7,9,68
503,NÃO INFORMADO,0,0,0,0,0,0,0,0,0,0,0,0,0
504,Total Geral,3765,3214,3457,3085,2893,2799,2739,3004,3031,3085,3075,3234,37381

#### Lesão corporal em 2019

In [246]:
carga_2019 = pd.read_excel('dataset/dataset-2019.xlsx', sheet_name="LESÃO CORPORAL", skiprows=range(6), skipfooter=4, index_col=None, header=None)

In [249]:
lesao_2019 = carga_2019.dropna(axis=1, how='all')
lesao_2019.dropna(how='all')
lesao_2019 = lesao_2019.drop([0,1,2,3,4,5])
lesao_2019.rename(columns = {0:"Cidades", 1: "jan/19", 2: "fev/19", 3: "mar/19", 4: "abr/19", 5: "mai/19", 6: "jun/19", 7: "jul/19", 8: "ago/19", 9: "set/19", 10: "out/19", 11: "nov/19", 12: "dez/19", 13: "Total"})

,Cidades,jan/19,fev/19,mar/19,abr/19,mai/19,jun/19,jul/19,ago/19,set/19,out/19,nov/19,dez/19,Total
6,ACEGUA,0,0,0,1,0,2,1,1,0,1,0,0,6
7,AGUA SANTA,0,0,1,0,0,1,0,0,0,0,1,1,4
8,AGUDO,5,7,0,6,4,1,0,0,3,1,2,3,32
9,AJURICABA,1,0,2,1,0,1,2,1,1,2,4,0,15
10,ALECRIM,1,0,1,0,0,1,2,0,3,0,1,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,VITORIA DAS MISSOES,0,0,0,0,0,0,0,1,0,1,0,0,2
501,WESTFALIA,0,0,0,0,0,0,0,0,1,0,0,0,1
502,XANGRI-LA,11,6,7,5,0,1,1,1,4,3,2,7,48
503,NÃO INFORMADO,0,0,0,0,0,0,0,0,0,0,0,0,0
504,Total Geral,2116,1820,1949,1719,1499,1589,1364,1460,1663,1723,1885,2202,20989

#### Estupro em 2019

In [255]:
carga_2019 = pd.read_excel('dataset/dataset-2019.xlsx', sheet_name="ESTUPRO", skiprows=range(6), skipfooter=4, index_col=None, header=None)

In [256]:
estupro_2019 = carga_2019.dropna(axis=1, how='all')
estupro_2019.dropna(how='all')
estupro_2019 = estupro_2019.drop([0,1,2,3,4,5])
estupro_2019.rename(columns = {0:"Cidades", 1: "jan/19", 2: "fev/19", 3: "mar/19", 4: "abr/19", 5: "mai/19", 6: "jun/19", 7: "jul/19", 8: "ago/19", 9: "set/19", 10: "out/19", 11: "nov/19", 12: "dez/19", 13: "Total"})

,Cidades,jan/19,fev/19,mar/19,abr/19,mai/19,jun/19,jul/19,ago/19,set/19,out/19,nov/19,dez/19,Total
6,ACEGUA,0,0,0,0,0,0,0,0,0,0,0,0,0
7,AGUA SANTA,0,0,0,0,0,0,0,0,0,0,0,0,0
8,AGUDO,0,0,0,1,0,0,0,0,2,1,1,1,6
9,AJURICABA,0,0,0,0,0,0,0,0,0,0,0,0,0
10,ALECRIM,0,0,1,0,1,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,VITORIA DAS MISSOES,0,0,0,0,0,0,0,0,0,0,0,0,0
501,WESTFALIA,0,0,0,0,0,0,0,0,0,0,0,0,0
502,XANGRI-LA,1,0,0,0,0,0,0,1,0,3,0,0,5
503,NÃO INFORMADO,0,0,0,0,0,0,0,0,0,0,0,0,0
504,Total Geral,184,132,126,107,104,133,143,156,174,166,156,133,1714

#### Feminicídio consumado em 2019

In [274]:
carga_2019 = pd.read_excel('dataset/dataset-2019.xlsx', sheet_name="FEMINICÍDIO CONSUMADO", skiprows=range(6), skipfooter=0, index_col=None, header=None)

In [275]:
consumado_2019 = carga_2019.dropna(axis=1, how='all')
consumado_2019.dropna(how='all')
consumado_2019 = consumado_2019.drop([0])
consumado_2019.rename(columns = {0:"Cidades", 1: "jan/19", 2: "fev/19", 3: "mar/19", 4: "abr/19", 5: "mai/19", 6: "jun/19", 7: "jul/19", 8: "ago/19", 9: "set/19", 10: "out/19", 11: "nov/19", 12: "dez/19", 13: "Total"})
consumado_2019.replace(np.nan,0)

                        0   1   2   3   4   5   6   7   8   9   10  11  12  13
1                 ALEGRETE   0   0   0   1   0   0   0   0   0   0   0   0   1
2                 ALVORADA   0   0   0   0   0   0   1   0   0   0   1   0   2
3          BENTO GONCALVES   0   0   0   0   0   0   1   1   0   0   1   0   3
4                BOM JESUS   0   0   0   0   0   0   1   0   0   0   0   1   2
5        BOM RETIRO DO SUL   0   0   0   0   0   0   0   0   1   0   0   0   1
..                     ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
66      JULIO DE CASTILHOS   0   0   0   0   0   0   0   0   0   1   0   0   1
67  SAO FRANCISCO DE ASSIS   0   0   0   0   0   0   0   0   0   1   0   0   1
68                 SARANDI   0   0   0   0   0   0   0   0   0   1   0   0   1
69     VITORIA DAS MISSOES   0   0   0   0   0   0   0   0   0   1   0   0   1
70             Total Geral   3   1  11   6  11   9  14   8   7   9  11   7  97

[70 rows x 14 columns]

#### Feminicídio tentado em 2019

In [261]:
carga_2019 = pd.read_excel('dataset/dataset-2019.xlsx', sheet_name="FEMINICÍDIO TENTADO", skiprows=range(6), skipfooter=13, index_col=None, header=None)

In [290]:
# Removendo colunas que possuem valores vazios
tentado_2019 = carga_2019.dropna(axis=1, how='all')
#Removendo linhas que possuem valores vazios
tentado_2019.dropna(how='all')
# Removendo colunas que não apresentam importancia pra análise
tentado_2019 = tentado_2019.drop([0])
# Renomeando nan por 0
tentado_2019.replace(np.nan,0)
# Renomeando índices
tentado_2019.rename(columns = {0:"Cidades", 1: "jan/19", 2: "fev/19", 3: "mar/19", 4: "abr/19", 5: "mai/19", 6: "jun/19", 7: "jul/19", 8: "ago/19", 9: "set/19", 10: "out/19", 11: "nov/19", 12: "dez/19", 13: "Total"})

,Cidades,jan/19,fev/19,mar/19,abr/19,mai/19,jun/19,jul/19,ago/19,set/19,out/19,nov/19,dez/19,Total
1,ALEGRETE,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,ALVORADA,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN,2
3,BENTO GONCALVES,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,1,NaN,3
4,BOM JESUS,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,1,2
5,BOM RETIRO DO SUL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,JULIO DE CASTILHOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1
67,SAO FRANCISCO DE ASSIS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1
68,SARANDI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1
69,VITORIA DAS MISSOES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1
70,Total Geral,3,1,11,6,11,9,14,8,7,9,11,7,97

## Questionamento base: O índice de violência contra a mulher aumentou?

### Qual o número total de vítimas de violência contra a mulher em 2019?

### Qual o número total de vítimas de violência contra a mulher em 2020?